footer {
  display: flex;
  background: url("../../images/index/Map.jpg") no-repeat rgb(120, 120, 120);
  color: #000000;
  padding: 10px 15px;
}

.about-map {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
